{% extends 'base.html.twig' %}

{% block body %}
    <div class="container px-4 py-5" id="custom-cards">
        {% include 'gallery/directory/componant/nav.html.twig' %}
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% for image in images %}
                <div class="col img-card">
                    <div class="card card-cover overflow-hidden rounded-4 shadow-lg"
                         style='background-image: url("{{ image.imagePath }}")'>
                        <div class="img-card publication d-flex flex-column p-5 pb-3 mt-auto text-white">
                            <p class="img-text">{{ image.name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}