.min-height {
    min-height: 600px;
}

.bg-red {
    background-color: rgba(161,14,7);
}
.text-shadow {
    text-shadow: 2px 2px 5px black;
}

.text-shadow-white {
    text-shadow: 1px 0 #410500, -1px 0 #410500, 0 1px #410500, 0 -1px #410500,
    1px 1px #410500, -1px -1px #410500, 1px -1px #410500, -1px 1px #410500;
}

.carousel-inner > .carousel-item > img {
    height: 360px;
}

.hr-danger {
    height: 2px;
    background: #dc3545;
    opacity: .5;
}

.publication {
    transition: background-color 0.3s;
}

.publication:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.publication:hover .publication-text {
    opacity: 1;
}

.publication-text:hover {
    opacity: 1;
}

.publication-text {
    color: rgba(255, 0, 0);
    opacity: 0;
}

.img-text:hover {
    color: white;
    opacity: 1;
}

.img-text {
    opacity: 0;
}

.img-card:hover .img-text {
    opacity: 1;
}

.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}

.carousel-item {
    text-align: center;
}

.carousel-inner img {
    display: inline-block !important;
}

.carousel-caption-bg {
    background-color: rgba(54, 54, 54, 0.31);
}

.img-card {
    min-height: 350px;
}

.fixed {
    position: fixed;
    z-index: 1030;
}