.min-height {
    min-height: 600px;
}

.carousel-inner > .carousel-item > img {
    height: 360px;
}

.hr-danger {
    height: 2px;
    background: #dc3545;
    opacity: .5;
}

.publication {
    transition: background-color 0.3s;
}

.publication:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.publication:hover .publication-text {
    opacity: 1;
}

.publication-text:hover {
    opacity: 1;
}

.publication-text {
    color: rgba(255,0,0);
    opacity: 0;
}