{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="custom-cards">
        {% include 'files/componant/_nav.html.twig' %}
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5"
        >
            {% for file in files %}
                <div class="col">
                    <a class="text-decoration-none"
                            {% if file.directory %}
                                href="{{ path('app_file_show', {id: file.id, slug: file.slug}) }}"
                            {% endif %}
                    >
                        {% set vars = {'card': file} %}
                        {% include 'componant/_card.html.twig' with vars %}
                    </a>
                </div>
            {% endfor %}
            <div hx-get="{{ url('app_files_index', {'page': files.currentPageNumber + 1}) }}"
                 hx-trigger="revealed"
                 hx-swap="outerHTML">
                <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i>
            </div>
        </div>
    </div>
{% endblock %}