<footer class="container-fluid text-bg-dark text-danger float-end mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-4 my-4 border-danger border-top">
        <div class="col">
        </div>

        <div class="col col-2">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                <img src="{{ asset('img/320px-Logo_CNT.svg.png') }}" alt="Chat de la CNT" width="128" height="64">
                </a>
                <p class="text-light"> © 2000 - 2023</p>
            </div>


            <div class="col">

            </div>

            <div class="col">
            </div>

            <div class="col">
                <h5>Contacts</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/people/CNT-26-DROME/100067737885113/" class="nav-link p-0 text-light" target="_blank">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Twitter</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Nous contacter</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Mentions légales</a></li>
                </ul>
            </div>
    </div>
</footer>
