<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container top-0 end-0 p-3 fixed-bottom">
        <div id="toast" class="toast fade" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-red text-white">
                <img src="{{ asset('img/chat.jpg') }}" width="20" height="20" class="rounded me-2" alt="Anarcat">
                <strong class="me-auto">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body fs-5" id="toast-body">
            </div>
        </div>
    </div>
</div>

