{% extends 'base.html.twig' %}

{% block body %}
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Publications</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% for publication in publications %}
                <div class="col">
                    <a class="text-decoration-none"
                       href="{{ path('app_article_show', {id: publication.id, slug: publication.slug}) }}">
                        {% set vars = {'card': publication} %}
                        {% include 'componant/_card.html.twig' with vars %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
